@model HouseAudio.AudioController.Models.ZoneAndInputs

@using (Html.BeginForm()) {
    @Html.HiddenFor(m => m.Zone)
    <div class="ha-zone" data-zoneid="@Model.Zone.Id">
        <h2>
            <label><div class="onoff" data-control="checkbox" data-control-value="@Model.Zone.On"></div> Zone @Model.Zone.Id</label>
            <select class="ha-zone-input">
                @if (Model.Inputs != null) {
                    <option value="0">Select an input</option>
                    foreach (var input in Model.Inputs)
                    {
                        var selected = Model.Zone.Input != null && Model.Zone.Input.Equals(input);
                        <option value="@input.Id" selected="@selected">@input.FriendlyName</option>
                    }
                }
            </select>
        </h2>
    
        <div class="ha-zone-section" data-property="Volume">
            <div class="ha-zone-slider"><div class="range" data-control="range" data-control-value="@Model.Zone.Volume"></div></div>
        </div>
        <div class="ha-zone-section" data-property="Bass">
            <label>Bass</label>
            <div class="ha-zone-slider"><div class="range" data-control="range" data-control-value="@Model.Zone.Bass"></div></div>
        </div>
        <div class="ha-zone-section" data-property="Treble">
            <label>Treble</label>
            <div class="ha-zone-slider"><div class="range" data-control="range" data-control-value="@Model.Zone.Treble"></div></div>
        </div>
    </div>
}