<!DOCTYPE html>
<html lang="en" class="">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/knockout")
    </head>
    <body>
        <div id="body">
            @RenderBody()
        </div>
        
        @Scripts.Render("~/bundles/amplifier")

        <script>
            AmplifierApi.url = {
                Version: '@Url.RouteUrl("AmplifierApi", new { httproute = "", controller = "Amplifier", action="Version" })',
                Reset: '@Url.RouteUrl("AmplifierApi", new { httproute = "", controller = "Amplifier", action="Reset" })'
            };
            ZoneApi.url = '@Url.RouteUrl("ZoneApi", new { httproute = "", controller = "Zone" })';
            SpotifyApi.url = {
                search: '@Url.RouteUrl("SpotifyApi", new { httproute = "", controller = "Spotify", action="Search" })'
            };
        </script>
    </body>
</html>
